<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TYC</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>ServletHandler</display-name>
    <servlet-name>ServletHandler</servlet-name>
    <servlet-class>cl.solem.tyc.servlets.ServletHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHandler</servlet-name>
    <url-pattern>/ServletHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SvtSession</display-name>
    <servlet-name>SvtSession</servlet-name>
    <servlet-class>cl.solem.tyc.servlets.SvtSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvtSession</servlet-name>
    <url-pattern>/SvtSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SvtConvenios</display-name>
    <servlet-name>SvtConvenios</servlet-name>
    <servlet-class>cl.solem.tyc.servlets.SvtConvenios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvtConvenios</servlet-name>
    <url-pattern>/SvtConvenios</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/taglib/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>SvtCatalogos</display-name>
    <servlet-name>SvtCatalogos</servlet-name>
    <servlet-class>cl.solem.tyc.servlets.SvtCatalogos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvtCatalogos</servlet-name>
    <url-pattern>/SvtCatalogos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvtPrestaciones</display-name>
    <servlet-name>SvtPrestaciones</servlet-name>
    <servlet-class>cl.solem.tyc.servlets.SvtPrestaciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvtPrestaciones</servlet-name>
    <url-pattern>/SvtPrestaciones</url-pattern>
  </servlet-mapping>
</web-app>